{% extends '/layouts/main.twig' %}
{% block content %}
    
    <div class="custom-container producten">
    
        <div class="row">
        
            <div class="col-sm-12">
            
                {{
                    widget('content', 'product-handscanners-titel', {
                        content: '<h3>HAND SCANNERS</h3>'
                    })|raw
                }}
            
            </div>
        
        </div>
    
        <div class="row">
        
            <div class="row col-sm-12">
            
                {{
                    widget('content', 'product-handscanners-inleiding', {
                        content: '<p></p>'
                    })|raw
                }}
            
            </div>
        
        </div>
        
        <div class="row product wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s">
        
            <div class="col-sm-12 col-md-4 image">
            
                <img src="{{ asset('/assets/images/producten/hand-scanners/pd140e.jpg') }}"/>
            
            </div>
        
            <div class="col-sm-12 col-md-8 text">
            
                {{
                    widget('content', 'product-handscanners-product1-text', {
                        content: '
                            <h4>Hand scanner PD140E</h4>
                            <p>
                                De PD140E is een handheld detector met een zeer hoge betrouwbaarheid.
                                De handscanner is uitgerust met geavanceerde technologie voor detectie van alle soorten metalen.
                                Er is speciale aandacht besteed aan het ontwerp zodat de hand van de gebruiker niet stoort bij het detectiegebied.
                                Bovendien is de afwerking afgestemd op gebruik.
                                De detector heeft geen scherpe randen waardoor hij niet blijft hangen aan bijvoorbeeld knopen. 
                            </p>
                            <h5>Kenmerken Hand scanner PD140E</h5>
                            <ul>
                                <li>Conform aan de NI J- 0.602.02-norm</li>
                                <li>Compact, elegant, robuust en ergonomisch</li>
                                <li>Uniforme Detectie van magnetische en niet-magnetische voorwerpen</li>
                                <li>Volledig digitaal: automatisch kalibreren </li>
                                <li>Programmeerbare gevoeligheid</li>
                                <li>Voor binnen- en buitengebruik </li>
                            </ul>
                        '
                    })|raw
                }}
            
                <a href="{{ asset('/documents/producten/hand-scanners/PD140E.pdf') }}" class="button" role="button">Download brochure</a>
            
            </div>
        
        </div>
        
        <div class="row product wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s">
        
            <div class="col-sm-12 col-md-4 image">
            
                <img src="{{ asset('/assets/images/producten/hand-scanners/pd140n.jpg') }}"/>
            
            </div>
        
            <div class="col-sm-12 col-md-8 text">
            
                {{
                    widget('content', 'product-handscanners-product2-text', {
                        content: '
                            <h4>Hand scanner PD140N </h4>
                            <p>
                                De PD140N is een handheld detector met zeer effectieve gevoeligheid voor alle metalen.
                                Het voldoet aan de nieuwste veiligheidsnormen.
                                Deze versie is de nieuwe variant van versie PD140E. 
                            </p>
                            <h5>Kenmerken Hand scanner PD140N</h5>
                            <ul>
                                <li>Conform aan de NI J- 0.602.02-norm</li>
                                <li>Compact, elegant, robuust en ergonomisch</li>
                                <li>Uniforme Detectie van magnetische en niet-magnetische voorwerpen</li>
                                <li>Volledig digitaal: automatisch kalibreren </li>
                                <li>Programmeerbare gevoeligheid</li>
                                <li>Voor binnen- en buitengebruik </li>
                                <li>Schakelt automatisch over naar de ‘slaapmodus’ bij geen gebruik. </li>
                                <li>Geïntegreerde batterijlader</li>
                            </ul>
                        '
                    })|raw
                }}
            
                <a href="{{ asset('/documents/producten/hand-scanners/PD140NbrochureGB.pdf') }}" class="button" role="button">Download brochure</a>
            
            </div>
        
        </div>
        
        <div class="row product wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s">
        
            <div class="col-sm-12 col-md-4 image">
            
                <img src="{{ asset('/assets/images/producten/hand-scanners/pd240.jpg') }}"/>
            
            </div>
        
            <div class="col-sm-12 col-md-8 text">
            
                {{
                    widget('content', 'product-handscanners-product1-text', {
                        content: '
                            <h4>Hand scanner PD240</h4>
                            <p>
                                De nieuwe detector van CEIA is versie PD240.
                                Een betrouwbare handdetector met geavanceerde technologie voor alle metalen.
                                Het is mogelijk om te kiezen tussen standaardfabrieksinstellingen of persoonlijke instellingen.
                                De scanner is gemakkelijk te koppelen aan een computer door middel van een USB kabel.
                                De PD240 heeft uniforme gevoeligheid voor magnetische en niet-magnetische gebieden, inclusief roestvrijstaal.
                                Het apparaat heeft een hoge weerstand tegen externe storingen door elektromagnetische en mechanische factoren. 
                            </p>
                            <h5>Kenmerken Hand scanner PD240</h5>
                            <ul>
                                <li>Conform aan de NI J-0602.02-norm</li>
                                <li>Compact, elegant, robuust en ergonomisch</li>
                                <li>Groot detectieoppervlak om nauwkeurig en vlug te detecteren</li>
                                <li>Zowel magnetische (ferro) als non-ferrometalen detectie</li>
                                <li>Volledig digitaal: automatisch kalibreren </li>
                                <li>Programmeerbare gevoeligheid</li>
                                <li>Voor binnen- en buitengebruik </li>
                                <li>Schakelt automatisch over naar de ‘slaapmodus’ bij geen gebruik. </li>
                                <li>Milieuvriendelijk door oplaadbare batterijen</li>
                                <li>Geïntegreerde batterijlader</li>
                                <li>Maximale oplaadtijd bij lege batterijen is slechts vijf uur</li>
                            </ul>
                        '
                    })|raw
                }}
            
                <a href="{{ asset('/documents/producten/hand-scanners/PD240brochureGB.pdf') }}" class="button" role="button">Download brochure</a>
            
            </div>
        
        </div>
    
    </div>

{% endblock %}