{% extends '/layouts/main.twig' %}
{% block content %}
    
    <div class="custom-container alleProducten">
    
        <div class="row">
            
            <div class="col-sm-12 col-md-4">
            
                <div class="row col-sm-12">
                
                    {{
                        widget('content', 'producten-singlezone-titel', {
                            content: '<h3>SINGLEZONE</h3>'
                        })|raw
                    }}
                
                </div>
            
                <div class="row col-sm-12">
                
                    {{
                        widget('content', 'producten-singlezone-text', {
                            content: '
                                <p>
                                    WTMD is de afkorting van Walk-Trough Metal Detector. 
                                    De Single Zone WTMD van CEIA is ontworpen en ontwikkeld om
                                    specifieke publieke beveiligingsbehoeften te voorzien. 
                                    De metaaldetector wordt veel ingezet bij scholen, hotels, 
                                    pretparken en stadhuizen.
                                </p>
                            '
                        })|raw
                    }}
                
                </div>
            
                <div class="row col-sm-12">
                
                    {{
                        widget('content', 'producten-singlezone-button', {
                            content: '<a href="/producten/singlezone" class="button" role="button">Bekijk producten</a>'
                        })|raw
                    }}
                
                </div>
            
            </div>
            
            <div class="col-sm-12 col-md-4">
            
                <div class="row col-sm-12">
                
                    {{
                        widget('content', 'producten-mutlizone-titel', {
                            content: '<h3>MULTIZONE</h3>'
                        })|raw
                    }}
                
                </div>
            
                <div class="row col-sm-12">
                
                    {{
                        widget('content', 'producten-mutlizone-text', {
                            content: '
                                <p>
                                    De HI-PE Multi Zone is een metaaldetector die 
                                    aan de strengsteinternationale 
                                    veiligheidsnormen voldoet.
                                    De ‘multi zone’ detectie stelt direct vast waar het metalen 
                                    object zich op de persoon bevindt.
                                </p>
                            '
                        })|raw
                    }}
                
                </div>
            
                <div class="row col-sm-12">
                
                    {{
                        widget('content', 'producten-mutlizone-button', {
                            content: '<a href="/producten/multizone" class="button" role="button">Bekijk producten</a>'
                        })|raw
                    }}
                
                </div>
            
            </div>
            
            <div class="col-sm-12 col-md-4">
            
                <div class="row col-sm-12">
                
                    {{
                        widget('content', 'producten-lossprevention-titel', {
                            content: '<h3>LOSS PREVENTION</h3>'
                        })|raw
                    }}
                
                </div>
            
                <div class="row col-sm-12">
                
                    {{
                        widget('content', 'producten-lossprevention-text', {
                            content: '
                                <p>
                                    CEIA produceert al jaren toonaangevende
                                    walk-through en draagbare metaaldetectiesystemen 
                                    voor verlies- en diefstalpreventie.
                                </p>
                            '
                        })|raw
                    }}
                
                </div>
            
                <div class="row col-sm-12">
                
                    {{
                        widget('content', 'producten-lossprevention-button', {
                            content: '<a href="/producten/loss-prevention" class="button" role="button">Bekijk producten</a>'
                        })|raw
                    }}
                
                </div>
            
            </div>
        
        </div>
    
        <div class="row">
            
            <div class="col-sm-12 col-md-4">
            
                <div class="row col-sm-12">
                
                    {{
                        widget('content', 'producten-handscanners-titel', {
                            content: '<h3>HAND SCANNERS</h3>'
                        })|raw
                    }}
                
                </div>
            
                <div class="row col-sm-12">
                
                    {{
                        widget('content', 'producten-handscanners-text', {
                            content: '
                                <p>
                                    De PD140E is een handheld detector met 
                                    een zeer hoge betrouwbaarheid.
                                    De handscanner is uitgerust met geavanceerde technologie voor 
                                    detectie van alle soorten metalen.
                                    Er is speciale aandacht besteed aan het ontwerp zodat 
                                    de hand van de gebruiker niet stoort bij het detectiegebied.
                                </p>
                            '
                        })|raw
                    }}
                
                </div>
            
                <div class="row col-sm-12">
                
                    {{
                        widget('content', 'producten-handscanners-button', {
                            content: '<a href="/producten/hand-scanners" class="button" role="button">Bekijk producten</a>'
                        })|raw
                    }}
                
                </div>
            
            </div>
            
            <div class="col-sm-12 col-md-4">
            
                <div class="row col-sm-12">
                
                    {{
                        widget('content', 'producten-verhuur-titel', {
                            content: '<h3>VERHUUR</h3>'
                        })|raw
                    }}
                
                </div>
            
                <div class="row col-sm-12">
                
                    {{
                        widget('content', 'producten-verhuur-text', {
                            content: '
                                <p>
                                    De beveiligingsproducten van Gilardoni zijn 
                                    uitgerust met Multi-Energy technologie voor 
                                    de inspectie van hand- en ruimbagage.
                                </p>
                            '
                        })|raw
                    }}
                
                </div>
            
                <div class="row col-sm-12">
                
                    {{
                        widget('content', 'producten-verhuur-button', {
                            content: '<a href="/producten/x-ray" class="button" role="button">Bekijk producten</a>'
                        })|raw
                    }}
                
                </div>
            
            </div>
            
            <div class="col-sm-12 col-md-4">
            
                <div class="row col-sm-12">
                
                    {{
                        widget('content', 'producten-verkoop-titel', {
                            content: '<h3>VERKOOP</h3>'
                        })|raw
                    }}
                
                </div>
            
                <div class="row col-sm-12">
                
                    {{
                        widget('content', 'producten-verkoop-text', {
                            content: '
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                                </p>
                            '
                        })|raw
                    }}
                
                </div>
            
                <div class="row col-sm-12">
                
                    {{
                        widget('content', 'producten-verkoop-button', {
                            content: '<a href="#" class="button" role="button">Bekijk producten</a>'
                        })|raw
                    }}
                
                </div>
            
            </div>
        
        </div>
    
    </div>

{% endblock %}