{% extends '/layouts/main.twig' %}
{% block content %}
    
    <div class="custom-container producten">
    
        <div class="row">
        
            <div class="col-sm-12">
            
                {{
                    widget('content', 'product-lossprevention-titel', {
                        content: '<h3>LOSS PREVENTION</h3>'
                    })|raw
                }}
            
            </div>
        
        </div>
    
        <div class="row">
        
            <div class="row col-sm-12">
            
                {{
                    widget('content', 'product-lossprevention-inleiding', {
                        content: '
                            <p>
                                CEIA verstrekt decennia lang toonaangevende walk-through en 
                                draagbare metaaldetector oplossingen voor Loss Prevention toepassingen. 
                                Onze klanten weten dat het detecteren van kleine hoogwaardige metalen 
                                voorwerpen een uitdaging kan zijn, zowel technisch als procedureel. 
                                De CEIA Loss Prevention security team werkt samen met u naar een 
                                innovatieve oplossing die u de maximale vermindering 
                                biedt van productdiefstal.
                            </p>
                            <p>
                                CEIA beschikt over beveiliging detectiesystemen die gespecialiseerd 
                                zijn in het beschermen van uw edelmetalen, sieraden en 
                                elektronische artikelen. Deze artikelen zijn meestal gemaakt van 
                                niet-magnetische metalen die extreem lage signalen 
                                registreren die standaard beveiliging metaaldetectoren gewoonweg 
                                niet kunnen opsporen. 
                            </p>
                        '
                    })|raw
                }}
            
            </div>
        
        </div>
        
        <div class="row product wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s">
        
            <div class="col-sm-12">
            
                <div class="row">
                
                    <div class="col-sm-12 col-md-3 hosd"></div>
                
                    <div class="col-sm-12 col-md-6 text-center">
                    
                        {{
                            widget('content', 'product-lossprevention-product1-text', {
                                content: '
                                    <h4>Edelmetalen</h4>
                                    <p>
                                        CEIA klanten zijn edelmetaalraffinaderijen, depothouders, en 
                                        mijnen over de hele wereld. Deze activiteiten vergen doorgaans 
                                        een buitengewoon hoge gevoeligheid voor het opsporen van kleine 
                                        hoeveelheden goud, zilver en platina metalen.
                                    </p>
                                    <p>
                                        CEIA heeft uitgebreide ervaring in omgevingen met high-power 
                                        equipment, zware metalen deuren, en strenge toegangscontrole eisen.
                                    </p>
                                '
                            })|raw
                        }}
                    
                    </div>
                
                    <div class="col-sm-12 col-md-3 hosd"></div>
                
                </div>
            
                <div class="row">
                
                    <div class="col-sm-12 col-md-3 hosd"></div>
                
                    <div class="col-sm-12 col-md-3 blockImage">
                    
                        <img class="block" src="{{ asset('/assets/images/producten/loss-prevention/metals/1.jpg') }}"/>
                    
                    </div>
                
                    <div class="col-sm-12 col-md-3 blockImage">
                    
                        <img class="block" src="{{ asset('/assets/images/producten/loss-prevention/metals/2.jpg') }}"/>
                    
                    </div>
                
                    <div class="col-sm-12 col-md-3 hosd"></div>
                
                </div>
            
            </div>
        
        </div>
        
        <div class="row product wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s">
        
            <div class="col-sm-12">
            
                <div class="row">
                
                    <div class="col-sm-12 col-md-3 hosd"></div>
                
                    <div class="col-sm-12 col-md-6 text-center">
                    
                        {{
                            widget('content', 'product-lossprevention-product1-text', {
                                content: '
                                    <h4>Sieraden</h4>
                                    <p>
                                        Uw succesvolle sieradenproductie- of distributieplaats 
                                        dient aan strenge beveiliging te voldoen om uw lage 
                                        kosten te handhaven. U kunt vertrouwen op de CEIA`s 
                                        Jewelry diefstalpreventie oplossingen om bijvoorbeeld 
                                        diefstal onder werknemers te stoppen zonder uw 
                                        screening proces te vertragen.
                                    </p>
                                '
                            })|raw
                        }}
                    
                    </div>
                
                    <div class="col-sm-12 col-md-3 hosd"></div>
                
                </div>
            
                <div class="row">
                
                    <div class="col-sm-12 col-md-3 hosd"></div>
                
                    <div class="col-sm-12 col-md-3 blockImage">
                    
                        <img class="block" src="{{ asset('/assets/images/producten/loss-prevention/jewelry/1.jpg') }}"/>
                    
                    </div>
                
                    <div class="col-sm-12 col-md-3 blockImage">
                    
                        <img class="block" src="{{ asset('/assets/images/producten/loss-prevention/jewelry/2.jpg') }}"/>
                    
                    </div>
                
                    <div class="col-sm-12 col-md-3 hosd"></div>
                
                </div>
            
            </div>
        
        </div>
        
        <div class="row product wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s">
        
            <div class="col-sm-12">
            
                <div class="row">
                
                    <div class="col-sm-12 col-md-3 hosd"></div>
                
                    <div class="col-sm-12 col-md-6 text-center">
                    
                        {{
                            widget('content', 'product-lossprevention-product1-text', {
                                content: '
                                    <h4>Elektronica</h4>
                                    <p>
                                        CEIA heeft duizenden metaaldetectoren ingezet over de hele wereld voor de 
                                        elektronica diefstalpreventie. Als Loss Prevention experts, kennen we de 
                                        fijne evenwicht van checkpoint flow en diefstaldetectie vereist in deze 
                                        toepassing. Geen enkel bedrijf biedt een bredere lijn van metaaldetectoren 
                                        voor de elektronicamarkt. Consumentenelektronica distributeurs en 
                                        fabrikanten weten dat de elektronische onderdelen steeds kleiner worden 
                                        en steeds moeilijker zijn te om detecteren. CEIA heeft geïnvesteerd 
                                        in de technische middelen die nodig zijn om een stap voor te blijven 
                                        en uw inventaris te beschermen. 
                                    </p>
                                '
                            })|raw
                        }}
                    
                    </div>
                
                    <div class="col-sm-12 col-md-3 hosd"></div>
                
                </div>
            
                <div class="row">
                
                    <div class="col-sm-12 col-md-3 hosd"></div>
                
                    <div class="col-sm-12 col-md-3 blockImage">
                    
                        <img class="block" src="{{ asset('/assets/images/producten/loss-prevention/electronics/1.jpg') }}"/>
                    
                    </div>
                
                    <div class="col-sm-12 col-md-3 blockImage">
                    
                        <img class="block" src="{{ asset('/assets/images/producten/loss-prevention/electronics/2.jpg') }}"/>
                    
                    </div>
                
                    <div class="col-sm-12 col-md-3 hosd"></div>
                
                </div>
            
            </div>
        
        </div>
    
    </div>

{% endblock %}