<section id="team" data-scrolloffset="50" class="rex-team container">
    <center>
    <div class="rex-heading">
        {{
            widget('content', 'loss-prevention', {
                content: '<h3>LOSS PREVENTION</h3> 
                    <br>
                    <p>
                        CEIA verstrekt decennia lang toonaangevende walk-through en 
                        draagbare metaaldetector oplossingen voor Loss Prevention toepassingen. 
                        Onze klanten weten dat het detecteren van kleine hoogwaardige metalen 
                        voorwerpen een uitdaging kan zijn, zowel technisch als procedureel. 
                        De CEIA Loss Prevention security team werkt samen met u naar een 
                        innovatieve oplossing die u de maximale vermindering 
                        biedt van productdiefstal.                    
                    </p></br>
                    <p>
                        CEIA beschikt over beveiliging detectiesystemen die gespecialiseerd 
                        zijn in het beschermen van uw edelmetalen, sieraden en 
                        elektronische artikelen. Deze artikelen zijn meestal gemaakt van 
                        niet-magnetische metalen die extreem lage signalen 
                        registreren die standaard beveiliging metaaldetectoren gewoonweg 
                        niet kunnen opsporen. 
                    </p>
                    '
            })|raw
        }}
    </div>
    
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <div class="rex-team-content wow fadeInUp"  data-wow-duration="1" data-wow-delay="0.8s">
                <div class="rex-team-text margin-bottom-level-4">
                    {{
                        widget('content', 'team-content2', {
                            content: '
                            <h4>Edelmetalen</h4>
                        <p>
                            CEIA klanten zijn edelmetaalraffinaderijen, depothouders, en 
                            mijnen over de hele wereld. Deze activiteiten vergen doorgaans 
                            een buitengewoon hoge gevoeligheid voor het opsporen van kleine 
                            hoeveelheden goud, zilver en platina metalen.
                        </p>
                            CEIA heeft uitgebreide ervaring in omgevingen met high-power 
                            equipment, zware metalen deuren, en strenge toegangscontrole eisen.
                        '
                        })|raw
                    }}
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-3 ">
            <div class="rex-top-lawyer wow fadeInUp margin-bottom-level-6"  
            data-wow-duration="1s" 
            data-wow-delay="0.8s"
            >
                {{
                    widget('image', 'team-image1', {
                        src: asset('/assets/images/loss-prevention/metals/image003.jpg'),
                        alt: '',
                        fileSize: 3,
                        imageWidth: '100%',
                    })|raw
                }}
            </div>
        </div>
        <div class="col-md-3">
            <div class="toptop wow fadeInUp margin-bottom-level-6"  
            data-wow-duration="1s" 
            data-wow-delay="0.8s"
            >
                {{
                    widget('image', 'team-image1', {
                        src: asset('/assets/images/loss-prevention/metals/image004.jpg'),
                        alt: '',
                        fileSize: 3,
                        imageWidth: '100%',
                    })|raw
                }}
            </div>
        </div>
        <div class="col-md-3">
            <div class="toptop wow fadeInUp margin-bottom-level-6"  
            data-wow-duration="1s" 
            data-wow-delay="0.8s"
            >
                {{
                    widget('image', 'team-image1', {
                        src: asset('/assets/images/loss-prevention/metals/image005.jpg'),
                        alt: '',
                        fileSize: 3,
                        imageWidth: '100%',
                    })|raw
                }}
            </div>
        </div>
        <div class="col-md-3 margin-bottom-level-6">
            <div class="toptop wow fadeInUp margin-bottom-level-6"  
            data-wow-duration="1s" 
            data-wow-delay="0.8s"
            >
                {{
                    widget('image', 'team-image1', {
                        src: asset('/assets/images/loss-prevention/metals/image006.jpg'),
                        alt: '',
                        fileSize: 3,
                        imageWidth: '100%',
                    })|raw
                }}
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <div class="rex-team-content wow fadeInUp"  data-wow-duration="1" data-wow-delay="0.8s">
                <div class="rex-team-text margin-bottom-level-4">
                    {{
                        widget('content', 'team-content2', {
                            content: '
                            <h4>Sieraden</h4>
                            Uw succesvolle sieradenproductie- of distributieplaats 
                            dient aan strenge beveiliging te voldoen om uw lage 
                            kosten te handhaven. U kunt vertrouwen op de CEIA`s 
                            Jewelry diefstalpreventie oplossingen om bijvoorbeeld 
                            diefstal onder werknemers te stoppen zonder uw 
                            screening proces te vertragen. 
                        '
                        })|raw
                    }}
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-3 ">
            <div class="rex-top-lawyer wow fadeInUp margin-bottom-level-6"  
            data-wow-duration="1s" 
            data-wow-delay="0.8s"
            >
                {{
                    widget('image', 'team-image1', {
                        src: asset('/assets/images/loss-prevention/Jewelry/image007.jpg'),
                        alt: '',
                        fileSize: 3,
                        imageWidth: '100%',
                    })|raw
                }}
            </div>
        </div>
        <div class="col-md-3">
            <div class="toptop wow fadeInUp margin-bottom-level-6"  
            data-wow-duration="1s" 
            data-wow-delay="0.8s"
            >
                {{
                    widget('image', 'team-image1', {
                        src: asset('/assets/images/loss-prevention/Jewelry/image008.jpg'),
                        alt: '',
                        fileSize: 3,
                        imageWidth: '100%',
                    })|raw
                }}
            </div>
        </div>
        <div class="col-md-3">
            <div class="toptop wow fadeInUp margin-bottom-level-6"  
            data-wow-duration="1s" 
            data-wow-delay="0.8s"
            >
                {{
                    widget('image', 'team-image1', {
                        src: asset('/assets/images/loss-prevention/Jewelry/image009.jpg'),
                        alt: '',
                        fileSize: 3,
                        imageWidth: '100%',
                    })|raw
                }}
            </div>
        </div>
        <div class="col-md-3 margin-bottom-level-6">
            <div class="toptop wow fadeInUp margin-bottom-level-6"  
            data-wow-duration="1s" 
            data-wow-delay="0.8s"
            >
                {{
                    widget('image', 'team-image1', {
                        src: asset('/assets/images/loss-prevention/Jewelry/image010.jpg'),
                        alt: '',
                        fileSize: 3,
                        imageWidth: '100%',
                    })|raw
                }}
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <div class="rex-team-content wow fadeInUp"  data-wow-duration="1" data-wow-delay="0.8s">
                <div class="rex-team-text margin-bottom-level-4">
                    {{
                        widget('content', 'team-content2', {
                            content: '
                            <h4>Elektronica</h4>
                            CEIA heeft duizenden metaaldetectoren ingezet over de hele wereld voor de 
                            elektronica diefstalpreventie. Als Loss Prevention experts, kennen we de 
                            fijne evenwicht van checkpoint flow en diefstaldetectie vereist in deze 
                            toepassing. Geen enkel bedrijf biedt een bredere lijn van metaaldetectoren 
                            voor de elektronicamarkt. Consumentenelektronica distributeurs en 
                            fabrikanten weten dat de elektronische onderdelen steeds kleiner worden 
                            en steeds moeilijker zijn te om detecteren. CEIA heeft geïnvesteerd 
                            in de technische middelen die nodig zijn om een stap voor te blijven 
                            en uw inventaris te beschermen. 
                        '
                        })|raw
                    }}
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-3 ">
            <div class="rex-top-lawyer wow fadeInUp margin-bottom-level-6"  
            data-wow-duration="1s" 
            data-wow-delay="0.8s"
            >
                {{
                    widget('image', 'team-image1', {
                        src: asset('/assets/images/loss-prevention/Electronics/image011.jpg'),
                        alt: '',
                        fileSize: 3,
                        imageWidth: '100%',
                    })|raw
                }}
            </div>
        </div>
        <div class="col-md-3">
            <div class="toptop wow fadeInUp margin-bottom-level-6"  
            data-wow-duration="1s" 
            data-wow-delay="0.8s"
            >
                {{
                    widget('image', 'team-image1', {
                        src: asset('/assets/images/loss-prevention/Electronics/image012.jpg'),
                        alt: '',
                        fileSize: 3,
                        imageWidth: '100%',
                    })|raw
                }}
            </div>
        </div>
        <div class="col-md-3">
            <div class="toptop wow fadeInUp margin-bottom-level-6"  
            data-wow-duration="1s" 
            data-wow-delay="0.8s"
            >
                {{
                    widget('image', 'team-image1', {
                        src: asset('/assets/images/loss-prevention/Electronics/image013.jpg'),
                        alt: '',
                        fileSize: 3,
                        imageWidth: '100%',
                    })|raw
                }}
            </div>
        </div>
        <div class="col-md-3 margin-bottom-level-6">
            <div class="toptop wow fadeInUp margin-bottom-level-6"  
            data-wow-duration="1s" 
            data-wow-delay="0.8s"
            >
                {{
                    widget('image', 'team-image1', {
                        src: asset('/assets/images/loss-prevention/Electronics/image014.jpg'),
                        alt: '',
                        fileSize: 3,
                        imageWidth: '100%',
                    })|raw
                }}
            </div>
        </div>
    </div>
    
</center>

    <div class="row">
        <div class="col-md-3 col-smxs-5 padding-right">
            <div class="rex-top-lawyer wow fadeInUp margin-bottom-level-6"  
            data-wow-duration="1s" 
            data-wow-delay="0.8s"
            >
                {{
                    widget('image', 'team-image1', {
                        src: asset('/assets/images/smd601plus.jpg'),
                        alt: '',
                        fileSize: 3,
                        imageWidth: '100%',
                    })|raw
                }}
            </div>
        </div>
        <div class="col-md-6 col-xs-5 padding-right">
            <div class="rex-team-content wow fadeInUp"  data-wow-duration="1" data-wow-delay="0.8s">
                <div class="rex-team-text">
                    {{
                        widget('content', 'team-content2', {
                            content: '
                                <h4>SMD601 Plus Profiling</h4>
                                    <br />
                                    De SMD601 Plus Profiling metaaldetectiepoort alarmeert bij de meest kleine 
                                    metalen voorwerpen terwijl het niet-verwijderbare metalen kan negeren. 
                                    Het detecteert items op elke plek van het lichaam. De poort voldoet aan de 
                                    Amerikaanse NIJ0601.02 normen, die ook wel beschouwd worden als de strengste 
                                    ter wereld. Het vraag een extreme gevoeligheid van de poort, ongeacht de 
                                    doorloopsnelheid. De SMD601 Plus Profiling geeft met ledverlichting aan op 
                                    welke hoogte het metalen object zich bevindt. 
                                    <br /><br />
                                <h4>Kenmerken SMD601 Plus Profiling</h4>
                                <br />
                                <ul>
                                    <li>Vermindert diefstal door extreme detectiemogelijkheden</li>
                                    <li>Toont nauwkeurig de locatie van metalen voorwerpen</li>
                                    <li>Extreem hoge mate van immuniteit voor elektrische en mechanische storingen</li>
                                    <li>Biedt privacy door niet-invasieve controle</li>
                                    <li>Willekeurige selectiemogelijkheid </li>
                                    <li>Stand-alone-oplossing (geen computer vereist)</li>
                                    <li>Lokaal of op afstand te programmeren met netwerkmogelijkheden</li>   
                                </ul>
                            '
                        })|raw
                    }}
                    <div class="col-md-4 col-sm-4 padding-right">
                        <a href="{{ asset('/documents/producten/loss-prevention/SMD601PlusLossPreventionbrochureGB.pdf') }}"
                        class="button"
                        role="button"
                        >
                        Download brochure
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
