<section id="team" data-scrolloffset="50" class="rex-team container">
    <div class="rex-heading">
        {{
            widget('content', 'team-content1', {
              content: '<h3>Multi Zone WTMD</h3>'
            })|raw
        }}
    </div>

    <div class="row">
        <div class="col-md-3 col-smxs-5 padding-right">
            <div class="rex-top-lawyer wow fadeInUp margin-bottom-level-6"  
            data-wow-duration="1s" 
            data-wow-delay="0.8s"
            >
                {{
                    widget('image', 'team-image1', {
                        src: asset('/assets/images/CEIAHI-PEplus.jpg'),
                        alt: '',
                        fileSize: 3,
                        imageWidth: '100%',
                    })|raw
                }}
            </div>
        </div>
        <div class="col-md-6 col-xs-5">
            <div class="rex-team-content wow fadeInUp"  data-wow-duration="1" data-wow-delay="0.8s">
                <div class="rex-team-text">
                    {{
                        widget('content', 'team-content2', {
                            content: '<h4>CEIA HI-PE Multi Zone</h4>
                            De HI-PE Multi Zone is een metaaldetector die aan de strengste internationale 
                            veiligheidsnormen voldoet.
                            De ‘multi zone’ detectie stelt direct vast waar het metalen 
                            object zich op de persoon bevindt.
                            De locatiezones zijn niet vast ingesteld, waardoor een optimale scan mogelijk is.
                            De alarmdrempel is aan te passen per individuele zone.
                            Bovendien is deze constructie bestand tegen mechanische schokken. 
                            Bij een eventuele stroomuitval zal de detectiepoort nog acht uur blijven 
                            functioneren dankzij het geoptimaliseerde batterijsysteem.  
                            <br/><br/>
                               <h5>Kenmerken CEIA HI-PE Multi Zone</h5>
                            <br />
                            <ul>
                                <li>Complete beveiligingsdetectie</li>
                                <li>Het display biedt enkele of meerdere locaties van wapens </li>
                                <li>Zeer hoge snelheid van detectie</li>
                                <li>Hoge immuniteit voor externe storingen</li>
                                <li>Voldoet aan alle internationale beveiligingsnormen </li>
                                <li>Hoge betrouwbaarheid</li>
                                <li>Lokaal of op afstand te programmeren met netwerkmogelijkheden</li>
                            </ul>
                            <br/>
                              Deze poort is uitermate geschikt voor:
                            <ul>   
                                <li>Ambassades</li>
                                <li>Hotels</li>
                                <li>Kantoren</li>
                                <li>Scholen</li>
                                <li>Gerechtsgebouwen</li>
                                <li>Gevangenissen (bezoekers)</li>
                            </ul>
                            '
                        })|raw
                    }}
                <div class="col-md-4 col-sm-4 padding-right margin-bottom-level-6">
                <a href="{{ asset('/documents/producten/multizone/CEIA-HI-PE-plus-metal-detector.pdf') }}"
                class="button"
                role="button"
                >
                Download brochure
                </a>
                </div>
                </div>  
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 col-smxs-5 padding-right">
            <div class="rex-top-lawyer wow fadeInUp margin-bottom-level-6"  data-wow-duration="1s" data-wow-delay="0.8s">
                {{
                    widget('image', 'team-image1', {
                        src: asset('/assets/images/PMD2PlusPanel.jpg'),
                        alt: '',
                        fileSize: 3,
                        imageWidth: '100%',
                    })|raw
                }}
            </div>
        </div>
        <div class="col-md-6 col-xs-5">
            <div class="rex-team-content wow fadeInUp"  data-wow-duration="1" data-wow-delay="0.8s">
                <div class="rex-team-text">
                    {{
                        widget('content', 'team-content2', {
                            content: '
                            <h4>CEIA PMD2 Plus Panel</h4>
                            De PMD2 Plus is een zeer betrouwbare detectiepoort die in staat 
                            is de meest gevaarlijke objecten te detecteren.
                            Dankzij geavanceerde technologie wijst de PMD2 Plus nauwkeurig 
                            de plaats aan waar eventuele wapens zich bevinden.
                            Het is bovendien mogelijk om de poort in te stellen om bepaalde 
                            persoonlijke voorwerpen als brillen en bouten in het lichaam te negeren.
                            <br/><br/>
                             <h5>Kenmerken CEIA PMD2 Plus Panel</h5>
                            <br />
                            <ul> 
                                <li>Complete beveiligingsdetectie</li>
                                <li>Meer dan 40 voorgeprogrammeerde instellingen </li>
                                <li>60 detectiezones (20 verticaal, 3 horizontaal) </li>
                                <li>Het display biedt enkele of meerdere locaties van wapens </li>
                                <li>Zeer hoge snelheid van detectie</li>
                                <li>Hoge immuniteit voor externe storingen</li>
                                <li>Voldoet aan alle internationale beveiligingsnormen</li>
                                <li>Hoge betrouwbaarheid</li>
                                <li>Lokaal of op afstand te programmeren met netwerkmogelijkheden</li>
                            <ul>
                            '
                        })|raw
                    }}
                    <div class="col-md-4 col-sm-4 padding-right margin-bottom-level-6">
                        <a href="{{ asset('/documents/producten/multizone/CEIA-PMD-2-plus-panel-version.pdf') }}"
                            class="button"
                            role="button"
                            >
                            Download brochure
                        </a>
                    </div>
                </div>  
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 col-smxs-5 padding-right">
            <div class="rex-top-lawyer wow fadeInUp margin-bottom-level-6"  data-wow-duration="1s" data-wow-delay="0.8s">
                {{
                    widget('image', 'team-image1', {
                        src: asset('/assets/images/PMD2plusEllipticversion.jpg'),
                        alt: '',
                        fileSize: 3,
                        imageWidth: '100%',
                    })|raw
                }}
            </div>
        </div>
        <div class="col-md-6 col-xs-5">
            <div class="rex-team-content wow fadeInUp"  data-wow-duration="1" data-wow-delay="0.8s">
                <div class="rex-team-text">
                    {{
                        widget('content', 'team-content2', {
                            content: '
                            <h4>CEIA PMD2 Elliptic </h4>                               
                            Net als de HI-PE Multi Zone is de PMD2 Elliptic een beveiligingspoort die 
                            aan de strengste internationale veiligheidsnormen voldoet.
                            Het is een van de meest geavanceerde detectiepoorten van CEIA.
                            De poort is eenvoudig in te stellen en makkelijk te monteren.
                            De alarmdrempel is aan te passen per individuele zone waardoor zowel 
                            grote wapens als kleine objecten worden gedetecteerd.                                      
                            <br /><br />
                            <h5>Kenmerken CEIA PMD2 Elliptic</h5>
                            <br />
                            <ul>
                                <li>Uniform detectieveld</li>
                                <li>Zeer hoog onderscheid</li>
                                <li>Het display biedt enkele of meerdere locatie van wapens </li>
                                <li>Snelle programmering door middel van een exclusieve chipkaartsysteem</li>
                                <li>Hoge immuniteit voor externe storingen</li>
                                <li>Lokaal of op afstand programmeren met netwerkmogelijkheden</li>
                            </ul>
                            '
                        })|raw
                    }}
                    <div class="col-md-4 col-sm-4 padding-right margin-bottom-level-6">
                            <a href="{{ asset('/documents/producten/multizone/CEIA-PMD2-Plus-metal-detector.pdf') }}"
                                class="button"
                                role="button"
                                >
                                Download brochure
                            </a>
                    </div>
                </div>  
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 col-smxs-5 padding-right">
            <div class="rex-top-lawyer wow fadeInUp margin-bottom-level-6"  data-wow-duration="1s" data-wow-delay="0.8s">
                {{
                    widget('image', 'team-image1', {
                        src: asset('/assets/images/CEIA-SMB-600-PLUS.jpg'),
                        alt: '',
                        fileSize: 3,
                        imageWidth: '100%',
                    })|raw
                }}
            </div>
        </div>
        <div class="col-md-6 col-xs-5">
            <div class="rex-team-content wow fadeInUp"  data-wow-duration="1" data-wow-delay="0.8s">
                <div class="rex-team-text">
                    {{
                        widget('content', 'team-content2', {
                            content: '
                            <h4>CEIA SMD600 Multi Zone</h4>
                            Deze detectiepoort voldoet net als alle beveiligingspoorten van CEIA aan 
                            alle internationale veiligheidsnormen.
                            De CEIA SMD600 onderscheidt zich daarentegen van andere modellen door 
                            extreme gevoeligheid voor kleine objecten.
                            Door de ‘multi zone’ detectie wordt direct vastgesteld waar die objecten 
                            als naalden, microchips of juwelen zich bevinden. 
                            <p>
                                De locatiezones zijn niet vast ingesteld, waardoor een optimale scan mogelijk is.
                                De alarmdrempel is aan te passen per individuele zone. Bovendien is deze 
                                constructie bestand tegen mechanische schokken.
                                Bij een eventuele stroomuitval zal de detectiepoort nog acht uur blijven 
                                functioneren dankzij het geoptimaliseerde batterijsysteem.
                            </p>
                                <h5>Kenmerken CEIA SMD600 Multi Zone </h5>
                            <br />
                            <ul>
                                <li>Extreem hoge detectie voor alle soorten metalen</li>
                                <li>Het display biedt enkele of meerdere locaties van metalen voorwerpen</li>
                                <li>Zeer hoge betrouwbaarheid</li>
                                <li>Zeer hoge weerstand tegen externe storingen</li>
                                <li>Lokaal of op afstand programmeren met netwerkmogelijkheden</li>
                            </ul>
                            <br />
                              Deze poort is uitermate geschikt voor: 
                            <ul>
                                <li>Industrie</li>
                                <li>Kerncentrales</li>
                                <li>Gevangenissen (gedetineerden)</li>
                                <li>Ziekenhuizen</li>
                            </ul>
                            '
                        })|raw
                    }}
                    <div class="col-md-4 col-sm-4 padding-right margin-bottom-level-6">
                        <a href="{{ asset('/documents/producten/multizone/CEIA-SMD-600-plus-metal-detector.pdf') }}"
                            class="button"
                            role="button"
                            >
                            Download brochure
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 col-smxs-5 padding-right">
            <div class="rex-top-lawyer wow fadeInUp margin-bottom-level-6"  data-wow-duration="1s" data-wow-delay="0.8s">
                {{
                    widget('image', 'team-image1', {
                        src: asset('/assets/images/601.jpg'),
                        alt: '',
                        fileSize: 3,
                        imageWidth: '100%',
                    })|raw
                }}
            </div>
        </div>
        <div class="col-md-6 col-xs-5">
            <div class="rex-team-content wow fadeInUp"  data-wow-duration="1" data-wow-delay="0.8s">
                <div class="rex-team-text">
                    {{
                        widget('content', 'team-content2', {
                            content: '
                            <h4>CEIA SMD601 Multi Zone</h4>
                            Deze detectiepoort is aangepast en voldoet aan de strengste Amerikaanse nieuwe norm (NIJ-0.601,02).
                            Net als de CEIA SMD600 onderscheidt deze versie zich van andere modellen door extreme gevoeligheid voor kleine objecten.
                            Door de ‘multi zone’ detectie wordt direct vastgesteld waar die objecten als naalden, microchips of juwelen zich bevinden.
                            <br /><br />
                            De locatiezones zijn niet vast ingesteld, waardoor een optimale scan mogelijk is.
                            De alarmdrempel is aan te passen per individuele zone.
                            Bovendien is deze constructie bestand tegen mechanische schokken.
                            Bij een eventuele stroomuitval zal de detectiepoort nog acht uur blijven functioneren dankzij het geoptimaliseerde batterijsysteem.
                            <br /><br />
                            <h5>Kenmerken CEIA SMD601 Multi Zone</h5>
                            <br />
                            <ul>
                                <li>Zeer hoge gevoeligheid voor magnetische en niet-magnetische metalen en roestvrijstaal</li>
                                <li>Voldoet aan de nieuwe norm NIJ-0.601,02</li>
                                <li>Toont nauwkeurig de locatie van enkele of meerdere metalen voorwerpen</li>
                                <li>Extreem hoge mate van immuniteit voor elektrische en mechanische storingen</li>
                                <li>Lokaal of op afstand programmeren met netwerkmogelijkheden</li>
                            </ul>
                            <br /><br />
                            Deze poort is uitermate geschikt voor:
                            <ul> 
                                <li>Industrie</li>
                                <li>Kerncentrales</li>
                                <li>Gevangenissen (gedetineerden)</li>
                                <li>Ziekenhuizen</li>
                            </ul>
                            '
                        })|raw
                    }}
                </div>
            </div>
        </div>
    </div>
</section>