<section id="team" data-scrolloffset="50" class="rex-team container">
    <div class="rex-heading">
        {{
                widget('content', 'x-ray', {
                    content: '<h3>Verkoop</h3> 
                '
            })|raw
        }}
    </div>
    
    <div class="row">
        <div class="col-md-3 col-smxs-5 padding-right margin-bottom-level-6">
            <div class="rex-top-lawyer wow fadeInUp margin-bottom-level-6"  data-wow-duration="1s" data-wow-delay="0.8s">
                {{
                    widget('image', 'team-image1', {
                        src: asset('/assets/images/PMD2plusEllipticversion.jpg'),
                        alt: '',
                        fileSize: 3,
                        imageWidth: '100%',
                    })|raw
                }}
            </div>
        </div>
        <div class="col-md-6 col-xs-5 ">
            <div class="rex-team-content wow fadeInUp"  data-wow-duration="1" data-wow-delay="0.8s">
                <div class="rex-team-text">
                    {{
                        widget('content', 'team-content2', {
                            content: '
                            <h4>CEIA PMD2 Elliptic </h4>                               
                            Net als de HI-PE Multi Zone is de PMD2 Elliptic een beveiligingspoort die 
                            aan de strengste internationale veiligheidsnormen voldoet.
                            Het is een van de meest geavanceerde detectiepoorten van CEIA.
                            De poort is eenvoudig in te stellen en makkelijk te monteren.
                            De alarmdrempel is aan te passen per individuele zone waardoor zowel 
                            grote wapens als kleine objecten worden gedetecteerd.                                      
                            <br /><br />
                            <h5>Kenmerken CEIA PMD2 Elliptic</h5>
                            <br />
                            <ul>
                                <li>Uniform detectieveld</li>
                                <li>Zeer hoog onderscheid</li>
                                <li>Het display biedt enkele of meerdere locatie van wapens </li>
                                <li>Snelle programmering door middel van een exclusieve chipkaartsysteem</li>
                                <li>Hoge immuniteit voor externe storingen</li>
                                <li>Lokaal of op afstand programmeren met netwerkmogelijkheden</li>
                            </ul>
                            '
                        })|raw
                    }}
                    <div class="col-md-4 col-sm-4 padding-right margin-bottom-level-6">
                            <a href="{{ asset('/documents/producten/multizone/CEIA-PMD2-Plus-metal-detector.pdf') }}"
                                class="button"
                                role="button"
                                >
                                Download brochure
                            </a>
                    </div>
                </div>  
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-3 col-smxs-5 padding-right margin-bottom-level-6">
            <div class="rex-top-lawyer wow fadeInUp"  data-wow-duration="1s" data-wow-delay="0.8s">
                {{
                    widget('image', 'team-image1', {
                        src: asset('/assets/images/pd140e.jpg'),
                        alt: '',
                        fileSize: 3,
                        imageWidth: '100%',
                    })|raw
                }}
            </div>
        </div>
        <div class="col-md-6 col-xs-5 padding-right margin-bottom-level-6">
            <div class="rex-team-content wow fadeInUp"  data-wow-duration="1" data-wow-delay="0.8s">
                <div class="rex-team-text">
                    {{
                        widget('content', 'team-content2', {
                            content: '<h4>Hand scanner PD140E</h4>
                            <br />
                            De PD140E is een handheld detector met een zeer hoge betrouwbaarheid.
                            De handscanner is uitgerust met geavanceerde technologie voor detectie van alle soorten metalen.
                            Er is speciale aandacht besteed aan het ontwerp zodat de hand van de gebruiker niet stoort bij het detectiegebied.
                            Bovendien is de afwerking afgestemd op gebruik.
                            De detector heeft geen scherpe randen waardoor hij niet blijft hangen aan bijvoorbeeld knopen. 
                            <br /><br />
                            <h5>Kenmerken Hand scanner PD140E</h5>
                          <br />
                            <li>Conform aan de NI J- 0.602.02-norm</li>
                            <li>Compact, elegant, robuust en ergonomisch</li>
                            <li>Uniforme Detectie van magnetische en niet-magnetische voorwerpen</li>
                            <li>Volledig digitaal: automatisch kalibreren </li>
                            <li>Programmeerbare gevoeligheid</li>
                            <li>Voor binnen- en buitengebruik </li>
                                '
                        })|raw
                    }}
                    <div class="col-md-4 col-sm-4 padding-right">
                        <a href="{{ asset('/documents/producten/hand-scanners/PD140E.pdf') }}"
                           class="button"
                           role="button"
                        >
                            Download brochure
                        </a>
                    </div>
                    </p>
                          </div>  
                        </div>
                    </div>
    </div>
    
    <div class="row">
        <div class="col-md-3 col-smxs-5 padding-right margin-bottom-level-6">
            <div class="rex-top-lawyer wow fadeInUp"  data-wow-duration="1s" data-wow-delay="0.8s">
                {{
                    widget('image', 'team-image1', {
                        src: asset('/assets/images/Gilardoni-FEP.png'),
                        alt: '',
                        fileSize: 3,
                        imageWidth: '100%',
                    })|raw
                }}
            </div>
        </div>
            <div class="col-md-6 col-xs-5 padding-right margin-bottom-level-6">
                <div class="rex-team-content wow fadeInUp"  data-wow-duration="1" data-wow-delay="0.8s">
                    <div class="rex-team-text">
                        {{
                            widget('content', 'team-content2', {
                                content: '
                                    <h4>Gilardoni FEP ME 536 X-Ray Unit </h4>
                                        <br />
                                        Deze röntgenscanner van Gilardoni is een inspectiesysteem voor post, pakketten 
                                        en kleine bagage. Het compacte formaat en de losstaande configuratie met 
                                        monitor en regeltafel zorgen voor een snelle installatie in een beperkte ruimte.
                                        FEP ME 536 is voorzien van ‘dual-energy detectie’ en geeft beelden van hoge 
                                        kwaliteit.
                                        <br /><br />'
                            })|raw
                        }}
                                            <div class="col-md-4 col-sm-4 padding-right">
                        <a href="{{ asset('/documents/producten/hand-scanners/PD140E.pdf') }}"
                           class="button"
                           role="button"
                        >
                            Download brochure
                        </a>
                    </div>
                    </div>
                </div>
            </div>
    </div>
    
    <div class="row">
        <div class="col-md-3 col-smxs-5 padding-right margin-bottom-level-6">
            <div class="rex-top-lawyer wow fadeInUp"  data-wow-duration="1s" data-wow-delay="0.8s">
                {{
                    widget('image', 'team-image1', {
                        src: asset('/assets/images/Gilardoni-FEP-ME-975-X-Ray-unit.png'),
                        alt: '',
                        fileSize: 3,
                        imageWidth: '100%',
                    })|raw
                }}
            </div>
        </div>
            <div class="col-md-6 col-xs-5 padding-right">
                <div class="rex-team-content wow fadeInUp"  data-wow-duration="1" data-wow-delay="0.8s">
                    <div class="rex-team-text">
                        {{
                            widget('content', 'team-content2', {
                                content: '
                                    <h4>Gilardoni FEP ME 975 X-Ray Unit </h4>
                                        <br />
                                        De röntgenscanner FEB ME 975 R-Ray Unit is een inspectiesysteem voor 
                                        ruimbagage en grote pakketten. Het bevat een vernieuwd softwareprogramma 
                                        en biedt hoge prestaties met een superieure beeldkwaliteit. 
                                '
                            })|raw
                        }}
                                            <div class="col-md-4 col-sm-4 padding-right">
                        <a href="{{ asset('/documents/producten/hand-scanners/PD140E.pdf') }}"
                           class="button"
                           role="button"
                        >
                            Download brochure
                        </a>
                    </div>
                    </div>
                </div>
            </div>
    </div>
</section>
