<!--  Our Clients section -->
<section class="rex-clients container">
    <div class="rex-heading">
        {{widget('content', 'clients-title', {
          content: '<h3>TEVREDEN KLANTEN</h3>'
        })|raw}}
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- clients logo area -->
            <div id="rex-Client" class="owl-carousel">
              <div class="rex-client-logo">
                {{widget('image', 'client-logo1', {
                  'src': asset("/assets/src/images/client-logo-1.png")
                })|raw}}
              </div>
              <div class="rex-client-logo">
                {{widget('image', 'client-logo2', {
                  'src': asset("/assets/src/images/client-logo-2.png")
                })|raw}}
              </div>
              <div class="rex-client-logo">
                {{widget('image', 'client-logo3', {
                  'src': asset("/assets/src/images/client-logo-3.png")
                })|raw}}
              </div>
              <div class="rex-client-logo">
                {{widget('image', 'client-logo4', {
                  'src': asset("/assets/src/images/client-logo-4.png")
                })|raw}}
              </div>
              <div class="rex-client-logo">
                {{widget('image', 'client-logo5', {
                  'src': asset("/assets/src/images/client-logo-5.png")
                })|raw}}
              </div>
              <div class="rex-client-logo">
                {{widget('image', 'client-logo6', {
                  'src': asset("/assets/src/images/client-logo-6.png")
                })|raw}}
              </div>
              <div class="rex-client-logo">
                {{widget('image', 'client-logo7', {
                  'src': asset("/assets/src/images/client-logo-1.png")
                })|raw}}
              </div>
              <div class="rex-client-logo">
                {{widget('image', 'client-logo8', {
                  'src': asset("/assets/src/images/client-logo-2.png")
                })|raw}}
              </div>
              <div class="rex-client-logo">
                {{widget('image', 'client-logo9', {
                  'src': asset("/assets/src/images/client-logo-3.png")
                })|raw}}
              </div>
              <div class="rex-client-logo">
                {{widget('image', 'client-logo10', {
                  'src': asset("/assets/src/images/client-logo-4.png")
                })|raw}}
              </div>
              <div class="rex-client-logo">
                {{widget('image', 'client-logo11', {
                  'src': asset("/assets/src/images/client-logo-5.png")
                })|raw}}
              </div>
              <div class="rex-client-logo">
                {{widget('image', 'client-logo12', {
                  'src': asset("/assets/src/images/client-logo-6.png")
                })|raw}}
              </div>
            </div>
        </div>
    </div>
</section>
<!-- end Clients section -->