
        <!-- Feature section -->
            <section id="feature" data-scrolloffset="50" class="rex-feature">
            <div class="container">
                <div class="rex-heading">
                    {{widget('content', 'feature-title', {
                      content: '<h3>Producten</h3>'
                    })|raw}}
                    
                </div><!--/rex-heading-->
                <div class="row">
                    <div id="rex-feature">
                      <div class="item col-md-4">
                        <article class="wow fadeInUp"  data-wow-duration="1s" data-wow-delay="0.5s">
                            <a href="singlezone" class="rex-feature-box block">
                                {{widget('content', 'feature-box1', {
                                  content: '
                                    <h4>SINGLEZONE</h4>
                                    <p>De Single Zone WTMD  is ontworpen en ontwikkeld om specifieke publieke beveiligingsbehoeften te voorzien.</p>
                                    <br><p><b>bekijk de producten</b></p>
                                  '
                                })|raw}}
                            </a><!--/rex-feature-box-->
                        </article>
                      </div>
                      <div class="item col-md-4">
                        <article class="wow fadeInUp"  data-wow-duration="1.2s" data-wow-delay="0.5s">
                            <a href="multizone" class="rex-feature-box block">
                                {{widget('content', 'feature-box2', {
                                  content: '
                                    <h4>Multizone</h4>
                                    <br><p><b>bekijk de producten</b></p>
                                '
                                })|raw}}
                            </a><!--/rex-feature-box-->   
                        </article>
                      </div>
                      <div class="item col-md-4">
                        <article class="wow fadeInUp"  data-wow-duration="1.4s" data-wow-delay="0.7s">
                            <a href="loss-prevention" class="rex-feature-box block">
                                {{widget('content', 'feature-box3', {
                                  content: '
                                    <h4>Loss Prevention</h4>
                                    <p>toonaangevende walk-through en draagbare metaaldetectiesystemen voor verlies- en diefstalpreventie.</p>
                                    <br><p><b>bekijk de producten</b></p>
                                '
                                })|raw}}
                            </a><!--/rex-feature-box-->   
                        </article>
                      </div>
                      <div class="item col-md-4">
                        <article class="wow fadeInUp"  data-wow-duration="1s" data-wow-delay="0.5s">
                            <a href="hand-scanners" class="rex-feature-box block">
                                {{widget('content', 'feature-box4', {
                                  content: '
                                    <h4>Hand Scanners</h4>
                                    <p>Handscanners met hoge betrouwbaarheid door middel van geavanceerde technologie.</p>
                                    <br><p><b>bekijk de producten</b></p>
                                '
                                })|raw}}
                            </a><!--/rex-feature-box-->
                        </article>
                      </div>
                      <div class="item col-md-4">
                        <article class="wow fadeInUp"  data-wow-duration="1.2s" data-wow-delay="0.5s">
                            <a href="x-ray" class="rex-feature-box block">
                                {{widget('content', 'feature-box5', {
                                  content: '
                                    <h4>Verhuur X-Ray Units</h4>
                                    <p>Voor de inspectie van hand- en ruimbagage.</p>
                                    <br><p><b>bekijk de producten</b></p>
                                '
                                })|raw}}
                            </a><!--/rex-feature-box-->   
                        </article>
                      </div>
                      <div class="item col-md-4">
                        <article class="wow fadeInUp"  data-wow-duration="1.4s" data-wow-delay="0.7s">
                            <a href="#" class="rex-feature-box block">
                                {{widget('content', 'feature-box6', {
                                  content: '
                                    <h4>Verkoop</h4>
                                   <br><p><b>bekijk de producten</b></p>
                                '
                                })|raw}}
                            </a><!--/rex-feature-box-->   
                        </article>
                      </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Feature -->