<!-- slider section -->
<section class="rex-slider">
    <!-- Owl-Slider start -->
    <div id="rex-owl-example" class="owl-carousel">
        <!-- Owl-Slider list -->
        <div class="rex-slider">
            {{widget('image', 'slide1-image', {
                'src': asset("/assets/images/slider/header001.png")
            })|raw}}
                <!-- caption ariea -->
            <div class="container">
                 <div class="rex-caption"> 
                    <div class="slider-header wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="0.5s">
                        {{
                            widget('content', 'slide1-caption-smaller', {
                                content: '<h2><span1>WDV is gespecialiseerd in detectiesystemen voor </span1></h2>',
                            })|raw
                        }}
                    </div>
                    <div class="slider-header1 wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay="0.7s">
                        {{
                            widget('content', 'slide1-caption-larger', {
                                content: 'overheid, horeca, evenementen, schoolfeesten en risicocongressen.',
                            })|raw
                        }}
                    </div>
                </div> 
            </div>
        </div>

        <div class="rex-slider">
            {{widget('image', 'slide2-image', {
                'src': asset("/assets/images/slider/header002.png")
            })|raw}}
            <div class="container">
                 <div class="rex-caption"> 
                    <div class="slider-header wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="0.5s">
                        {{
                            widget('content', 'slide1-caption-smaller', {
                                content: '<h2><span>WDV is gespecialiseerd in detectiesystemen voor </span></h2>',
                            })|raw
                        }}
                    </div>
                    <div class="slider-header1 wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay="0.7s">
                        {{
                            widget('content', 'slide1-caption-larger', {
                                content: 'overheid, horeca, evenementen, schoolfeesten en risicocongressen.',
                            })|raw
                        }}
                    </div>
                </div> 
            </div>
        </div>

        <div class="rex-slider">
            {{widget('image', 'slide2-image', {
                'src': asset("/assets/images/slider/header003.png")
            })|raw}}
            <div class="container">
                 <div class="rex-caption"> 
                    <div class="slider-header wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="0.5s">
                        {{
                            widget('content', 'slide1-caption-smaller', {
                                content: '<h2><span>WDV is gespecialiseerd in detectiesystemen voor</span> </h2>',
                            })|raw
                        }}
                    </div>
                    <div class="slider-header1 wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay="0.7s">
                        {{
                            widget('content', 'slide1-caption-larger', {
                                content: 'overheid, horeca, evenementen, schoolfeesten en risicocongressen.',
                            })|raw
                        }}
                    </div>
                </div> 
            </div>
        </div>
    </div>
</section>