        <!-- slider section -->
    
        <section class="rex-slider">

            <!-- Owl-Slider start -->
            <div id="rex-owl-example" class="owl-carousel">
                <!-- Owl-Slider list -->
                <div class="rex-slider">
                    

                    {{widget('image', 'slide1-image', {
                        'src': asset("/assets/placeholders/large.png")
                    })|raw}}

                    

                        <!-- caption ariea -->
                    <div class="container">
                        <div class="rex-caption"> 
                            <div class="wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="0.5s">
                                {{
                                    widget('content', 'slide1-caption-smaller', {
                                        content: '<h3>Lorem Ipsum</h3>',
                                    })|raw
                                }}
                            </div>
                            
                            
                            <div class="wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay="0.7s">
                                {{
                                    widget('content', 'slide1-caption-larger', {
                                        content: '<h1><span>Dolor</span> Sit</h1>',
                                    })|raw
                                }}
                            </div>

                            

                            <div class="wow fadeInLeft" data-wow-duration="1.4s" data-wow-delay="0.9s" href="#">
                                {{widget('button', 'slide1-button', {
                                  'text': 'Meer info'
                                })|raw}}
                            </div>


                        </div><!--/rex-caption -->
                    </div><!-- end caption -->
                </div>
                <!-- End Owl-Slider list -->

                <!-- Owl-Slider list -->
                <div class="rex-slider">
                    {{widget('image', 'slide2-image', {
                        'src': asset("/assets/placeholders/large.png")
                    })|raw}}
                        <!-- caption ariea -->
                     <div class="container">
                        <div class="rex-caption"> 
                            <div class="wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="0.5s">
                                {{
                                    widget('content', 'slide12-caption-smaller', {
                                        content: '<h3>Lorem Ipsum Slide 2</h3>',
                                    })|raw
                                }}
                            </div>
                            
                            
                            <div class="wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay="0.7s">
                                {{
                                    widget('content', 'slide2-caption-larger', {
                                        content: '<h1><span>Dolor</span> Sit Slide 2</h1>',
                                    })|raw
                                }}
                            </div>

                            

                            <div class="wow fadeInLeft" data-wow-duration="1.4s" data-wow-delay="0.9s" href="#">
                                {{widget('button', 'slide2-button', {
                                  'text': 'GET STARTED NOW SLIDE 2'
                                })|raw}}
                            </div>


                        </div><!--/rex-caption -->
                    </div><!-- end caption -->
                </div>
                <!-- End Owl-Slider list -->

            </div>
            <!-- End Owl-Slider start -->
        </section>