        <!-- slider section -->
        <section class="rex-slider">
            <!-- Owl-Slider start -->
            <div id="rex-owl-example" class="owl-carousel">
                <!-- Owl-Slider list -->
                <div class="rex-slider">
                    {{widget('image', 'slide1-image', {
                        'src': asset("/assets/placeholders/security02.jpg")
                    })|raw}}
                        <!-- caption ariea -->
                    <div class="container">
                        <div class="rex-caption"> 
                            <div class="wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="0.5s">
                                {{
                                    widget('content', 'slide1-caption-smaller', {
                                        content: '<h2><span>WDV is gespecialiseerd in detectiesystemen voor</span> </h2>',
                                    })|raw
                                }}
                            </div>
                            <div class="wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay="0.7s">
                                {{
                                    widget('content', 'slide1-caption-larger', {
                                        content: '<h2><span>overheid,</span> horeca, <span>evenementen,</span> schoolfeesten <span>en</span> risicocongressen.</span></h2>',
                                    })|raw
                                }}
                            </div>

                        </div><!--/rex-caption -->
                    </div><!-- end caption -->
                </div>
                <!-- End Owl-Slider list -->

                <!-- Owl-Slider list -->
                <div class="rex-slider">
                    {{widget('image', 'slide2-image', {
                        'src': asset("/assets/placeholders/security00.jpg")
                    })|raw}}
                        <!-- caption ariea -->
                     <div class="container">
                        <div class="rex-caption"> 
                            <div class="wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="0.5s">
                                {{
                                    widget('content', 'slide1-caption-smaller', {
                                        content: '<h2><span>WDV is gespecialiseerd in detectiesystemen voor</span> </h2>',
                                    })|raw
                                }}
                            </div>
                            <div class="wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay="0.7s">
                                {{
                                    widget('content', 'slide1-caption-larger', {
                                        content: '<h2><span>overheid,</span> horeca, <span>evenementen,</span> schoolfeesten <span>en</span> risicocongressen.</span></h2>',
                                    })|raw
                                }}
                            </div>

                        </div><!--/rex-caption -->
                    </div><!-- end caption -->
                </div>
                <!-- End Owl-Slider list -->
                <!-- Owl-Slider list -->
                <div class="rex-slider">
                    {{widget('image', 'slide2-image', {
                        'src': asset("/assets/placeholders/security05.jpg")
                    })|raw}}
                        <!-- caption ariea -->
                     <div class="container">
                        <div class="rex-caption"> 
                            <div class="wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="0.5s">
                                {{
                                    widget('content', 'slide1-caption-smaller', {
                                        content: '<h2><span>WDV is gespecialiseerd in detectiesystemen voor</span> </h2>',
                                    })|raw
                                }}
                            </div>
                            <div class="wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay="0.7s">
                                {{
                                    widget('content', 'slide1-caption-larger', {
                                        content: '<h2><span>overheid,</span> horeca, <span>evenementen,</span> schoolfeesten <span>en</span> risicocongressen.</span></h2>',
                                    })|raw
                                }}
                            </div>

                        </div><!--/rex-caption -->
                    </div><!-- end caption -->
                </div>
                <!-- End Owl-Slider list -->
            </div>
            <!-- End Owl-Slider start -->
        </section>