<!--  Our testimonial section -->
            <section id="testimonial" data-scrolloffset="70" class="rex-testimonial" data-parallax="scroll" data-image-src="{{asset('/assets/src/images/tes-bg.jpg')}}">
            <div class="container">
                <div class="rex-heading">
                  {{widget('content', 'testimonial-title', {
                    content: '<h3>WHAT CLIENTS SAY</h3>'
                  })|raw}}
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <!-- testimonial list -->
                        <div id="rex-testimonial" class="owl-carousel">
                          <div class="rx-active">
                            <!-- testimonial img -->
                                <div class="rex-content-img">
                                  {{widget('image', 'testimonial1-image', {
                                    'src': asset("/assets/src/images/rex-testimonial-img-1.png")
                                  })|raw}}
                                </div>
                                <!-- End testimonial img -->
                                {{widget('content', 'testimonial1-title', {
                                  content: '
                                    <h4><span>Russell Laing</span></h4>
                                    <p>This is Photoshop version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, <br>lorem quis nisi elit conipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate </p>
                                  '
                                })|raw}}
                          </div>
                          <!-- end -->

                          <div class="rx-active">
                            <!-- testimonial img -->
                                <div class="rex-content-img">
                                  {{widget('image', 'testimonial2-image', {
                                    'src': asset("/assets/src/images/rex-testimonial-img-2.png")
                                  })|raw}}
                                </div>
                                <!-- End testimonial img -->
                                {{widget('content', 'testimonial2-title', {
                                  content: '
                                    <h4><span>Russell Laing</span></h4>
                                    <p>This is Photoshop version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, <br>lorem quis nisi elit conipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate </p>
                                  '
                                })|raw}}
                          </div>
                          <!-- end -->

                          <div class="rx-active">
                            <!-- testimonial img -->
                                <div class="rex-content-img">
                                  {{widget('image', 'testimonial3-image', {
                                    'src': asset("/assets/src/images/rex-testimonial-img-3.png")
                                  })|raw}}
                                </div>
                                <!-- End testimonial img -->
                                {{widget('content', 'testimonial3-title', {
                                  content: '
                                    <h4><span>Russell Laing</span></h4>
                                    <p>This is Photoshop version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, <br>lorem quis nisi elit conipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate </p>
                                  '
                                })|raw}}
                          </div>
                          <!-- end -->

                          <div class="rx-active">
                            <!-- testimonial img -->
                                <div class="rex-content-img">
                                  {{widget('image', 'testimonial4-image', {
                                    'src': asset("/assets/src/images/rex-testimonial-img-4.png")
                                  })|raw}}
                                </div>
                                <!-- End testimonial img -->
                                {{widget('content', 'testimonial4-title', {
                                  content: '
                                    <h4><span>Russell Laing</span></h4>
                                    <p>This is Photoshop version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, <br>lorem quis nisi elit conipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate </p>
                                  '
                                })|raw}}
                          </div>
                          <!-- end -->

                          <div class="rx-active">
                            <!-- testimonial img -->
                                <div class="rex-content-img">
                                  {{widget('image', 'testimonial5-image', {
                                    'src': asset("/assets/src/images/rex-testimonial-img-1.png")
                                  })|raw}}
                                </div>
                                <!-- End testimonial img -->
                                {{widget('content', 'testimonial5-title', {
                                  content: '
                                    <h4><span>Russell Laing</span></h4>
                                    <p>This is Photoshop version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, <br>lorem quis nisi elit conipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate </p>
                                  '
                                })|raw}}
                          </div>
                          <!-- end -->
                        </div>
                    </div>
                </div>
            </div><!--/-->
        </section>
        <!--  End Our testimonial section -->